<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
	
    <session-factory>
    	<property name="show_sql">false</property>
    	<property name="dialect">@@DIALECT@@</property>	
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<property name="connection.driver_class">@@DRIVER@@</property>
	
	 	<property name="connection.url">@@URL@@</property>
	    <property name="connection.username">@@DATABASE_USERNAME@@</property>
	    <property name="connection.password">@@DATABSE_PASSWORD@@</property> 
	 
	 	<property name="hibernate.jdbc.batch_size">0</property>
   	
    					
    </session-factory>
    
</hibernate-configuration>